<footer id="landing-footer" class="clearfix">
    <div class="row clearfix">
        <div class="col-2">
            <p id="dev">
                &copy; Extended by Team 06: <a href="https://github.com/NCSU-SE-Spring2025-Group6/Sentimental-Analyzer-Pro.git">Sentimental-Analyzer-Pro</a>
            </p>
        </div>
        <div class="col-2 disclaimer">
            <div class="team-members">
                <p>Team Members: 
                    <a href="https://github.com/jakariamd" target="_blank">Md Jakaria</a>&nbsp; 
                    <a href="https://github.com/a-wright-git" target="_blank">Autumn Wright</a>
                </p>
            </div>
        </div>
    </div>
</footer>